body {
    font-family: 'Roboto';
}

.part_1 {
    background-color: #1f2937;
    padding-left: 200px;
    padding-right: 200px;
}


.header {
    display: flex;  
}

.header_logo {
    color: #f9faf8;
    font-size: 24px;
    margin-right: auto;
    align-items: center;
}

.header_link {
    color: #E5E7EB;
    font-size: 18px;
}

.header_right {
    display: flex;
    gap: 15px;
    align-items: center;
}

.container_top {
    display: flex;
    margin-top: 80px;
    margin-bottom: 80px;
    justify-content: space-between;
}

.text1 {
    font-weight: bold;
    font-size: 48px;
    color: #f9faf8;
}

.text2 {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    margin-top: 20px;
    }

.sign_up {
    background-color: #3882F6;
    padding-left: 15px;
    padding-right: 15px;
    color: #f9faf8;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
    display: flex;
    margin-top: 20px;
    max-width: fit-content;
}

img {
  max-width: 450px;
  height: auto;
}